/* Primary Styles for used in constructor */
:root{
    --primary-color:#ffffff;
    --secondary-color:#000000;

    --primary-button-color: #E55858;
    --text-trash-color:#CB7E20;
    --primary-text-color:#ffffff;
}

/* Main Styles General */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    vertical-align:baseline;
    list-style:none;
}

/* Styled of body */