@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
/* Primary Styles for used in constructor */
:root, :root[data-theme='dark']{
    --primary-color:#ffffff;
    --primary-bg-color:#000000;
    --secondary-bg-color:#28292E

    --primary-button-color: #E55858;
    --text-trash-color:#CB7E20;
    --primary-text-color:#ffffff;
    --component-effect-color:#5601C8;
    --title-color:#9a9a9c;
    --link-color:#9a9a9c;
    --icon-color:#c7c8c9;
    --text-color:#ffffff;
    --border-color:#28292E;
    --especial-color:#B19777;
}
:root[data-theme='light']{
    --primary-color:#00000f;

    --primary-bg-color:##E9E9E9;
    --secondary-bg-color:#C7C8C9;
    --border-color:#C7C8C9;



    --title-color:#0B0B0f;
    --text-color:#28292E;
    --link-color:#28292E;
    --icon-color:#56575A;
}

html[data-theme='light'].brand_logo{
    filter:invert(1);
}
/* Main Styles General */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    vertical-align:baseline;
    list-style:none;
}

/* Styled of body */
body{
    background:var(--primary-bg-color);
    font-family: "Parkinsans", sans-serif;
}
a{
    text-decoration:none;
}
i{
    color:var(--icon-color);
}

h1{
    color:var(--title-color);
}

.header{
    display:flex;
    flex-direction:row wrap;
    justify-content:space-between;
    align-items:center;
    width:100%;
    padding:0.5rem 1rem;
}
.header_toggle{
    display:flex;
    justify-content:flex-end;
}

.header_brand .brand_logo{
    width:3.25rem;
    height:3.25rem;
}

#toggleTheme{
    font-size:1.5rem;
    color:var(--primary-color);
    cursor:pointer;
    transition:ease-in-out .4s;
}

.menu{
    display:flex;
    align-items:center;
    background:var(--primary-bg-color);
}
.menu_item{
    width:100%;
}
.menu_mobile{
    width:100vw;
    position:fixed;
    bottom:0;
    justify-content:space-between;
    border-top:1px solid var(--border-color);

}

.menu_mobile .menu_link{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:.5rem;
}
.menu_principal{
    gap:1.5rem;
}

.menu_link.active .menu_icon, .menu_text{
    color:var(--primary-color);
    font-weight:600;
}
.header_nav{
    display:none;
}



.menu_icon, .menu_text{
    color:var(--text-color);
}

.menu_icon{
    font-size:1.5rem;
}
.menu_text{
    font-size:.75rem;
    text-transform:uppercase;
}

@media(min-width:768px){
    .header{
        position:fixed;
        border-bottom: 1px solid var(--border-color);
        padding:1rem 0
    }
    .menu_mobile{
        display:none;
    }
    .header_nav{
    display:flex;
}

.header_nav,
.header_toggle{
    min-width:40%;
}

}
@media(min-width:1050px){
     .header{
        position:fixed;
        border-bottom: 1px solid var(--border-color);
        padding:1rem 15rem;
    }
}