/* Primary Styles for used in constructor */
:root{
    --primary-color:#f0f0f0;
}

/* Main Styles General */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    vertical-align:baseline;
    list-style:none;
}

/* Styled of body */